.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 10px;
}

.grilla-uno {
    margin-right: auto;
}

.grilla-dos {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}